* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Fraunces", sans-serif;
  font-size: 18px;
}

/* Header */
header {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  background-image: url("./images/desktop/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  color: hsl(0, 0%, 100%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;
}

.company {
  font-size: 25px;
  font-weight: 900;
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 35%;
  padding: 0;
}

.contact-btn {
  background: hsl(0, 0%, 100%);
  border: hsl(0, 0%, 100%);
  border-radius: 50px;
  padding: 13px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.top-cover {
  font-family: "Fraunces", sans-serif;
  text-align: center;
  width: 100%;
  font-size: 50px;
  font-weight: 700;
  margin-top: 70px;
}

/* Main Content*/
.main {
  text-align: center;
}

/* Promotion Section */
.promote {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.promote div {
  flex: 1;
}

.promo-img {
  width: 50vw;
  max-height: 48vh;
}

.promo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 48vh;
}

.promo-box > * {
  height: 100%;
  width: 60%;
  line-height: 1.5em;
  text-align: start;
}

.promo-box h1 {
  margin-bottom: 30px;
}

.promo-box div {
  margin-bottom: 30px;
}

.promo-box a {
  margin-top: 20px;
  color: black;
  text-decoration: none;
}

.brand-line {
  border-bottom: 3px solid hsl(51, 100%, 49%);
}

.stand-line {
  border-bottom: 3px solid hsl(7, 99%, 70%);
}

/* Work Section */
.work {
  display: flex;
  /* justify-content: center; */
  text-align: center;
}

.work > div {
  height: 50vh;
  width: 50%;
  line-height: 1.5em;
}

.graphic-design {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("images/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: hsl(167, 40%, 24%);
}

.graphic-design > * {
  width: 50%;
  margin: 15px;
}

.graphic-design > h2 {
  margin-bottom: 10px;
}

.photography {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("images/desktop/image-photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: hsl(198, 62%, 26%);
}

.photography > * {
  width: 50%;
  margin: 15px;
}

.photography > h2 {
  margin-bottom: 10px;
}

/* Testimonial Section */
.testimonials {
  padding: 60px;
}

.test-title {
  color: hsl(210, 4%, 67%);
  margin: 40px 0 50px 0;
}

.clients {
  display: flex;
  justify-content: space-between;
  line-height: 1.5em;
}

.client-img {
  border-radius: 50%;
  margin: 40px 0 60px 0;
}

.client-info {
  color: hsl(210, 4%, 67%);
  margin: 40px 0;
}

.client-name {
  color: black;
  font-weight: 900;
}

/* Images Before Footer */
.image-row {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 100%;
}

.image-row li {
  max-width: 25%;
}

.image-row img {
  width: 100%;
}

/* Footer */
footer {
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
