html,
body {
  margin: 0;
  padding: 0;
  /* font-family: "Fraunces", sans-serif; */
}

.container {
  font-family: "Barlow", sans-serif;
  height: 100%;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
